# SMTP account used to send contact-form messages.
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_TIMEOUT=10
EMAIL_HOST_USER=clientespre@gmail.com
EMAIL_HOST_PASSWORD=LA_CLAVE_QUE_TE_DIO_GOOGLE
EMAIL_FROM_ADDRESS=clientespre@gmail.com

# Team inbox that receives contact-form messages.
CONTACT_TEAM_EMAIL=juandedios.ledezma@gmail.com
